
  @charset "utf-8";

  /*
  Recipe Book Style Sheet
  */


  /* =Elements
  ----------------------------------------------- */
  body {
    background: white;
    color: black;
    margin: 0;
    font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
  }
